<%= form_for @blog do |f| %>
  <h3>編集する</h3>
  <%= f.text_field :title, placeholder: "編集内容を入力してください", value: @blog.title, autofocus: "true"  %>
  <%= f.text_area :text, placeholder: "編集内容を入力してください", value: @blog.text %>
  <%= f.submit "投稿する" %>
<% end %>



