// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.formfor {
  width: 600px;
  margin: 10px auto;
  text-align: center;
}

.create {
  margin: 10px auto;
  text-align: center;
}

.registration {
  width: 50%;
  margin: 10px auto;
}

.sessions {
  width: 50%;
  margin: 0px auto;
}

.title {
  text-align: center;
}

.post_name {
  text-align: right;
}

.comment {
width: 50%;
  margin: 0px auto;
  text-align: center;

}
